@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin:0;
    padding:0;
    height: 100vh;
    background-color: rgb(247, 247, 247);
    font-family: 'Poppins', sans-serif;
    color:rgb(30 41 59);
    font-size:16px
}

.ck.ck-toolbar, .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border:1px solid rgb(226 232 240)!important
}

.ck-editor__editable[role="textbox"] {
    min-height: 200px;
}
